<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,67}</string>
                <key>spriteSourceSize</key>
                <string>{199,67}</string>
                <key>textureRect</key>
                <string>{{2,347},{199,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,46}</string>
                <key>spriteSourceSize</key>
                <string>{142,46}</string>
                <key>textureRect</key>
                <string>{{104,40},{142,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fuzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{105,2},{54,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huoqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,38}</string>
                <key>textureRect</key>
                <string>{{2,40},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lq_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,31}</string>
                <key>spriteSourceSize</key>
                <string>{101,31}</string>
                <key>textureRect</key>
                <string>{{2,2},{101,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,197}</string>
                <key>spriteSourceSize</key>
                <string>{70,197}</string>
                <key>textureRect</key>
                <string>{{158,633},{70,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,136}</string>
                <key>spriteSourceSize</key>
                <string>{72,136}</string>
                <key>textureRect</key>
                <string>{{2,633},{72,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xxx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,182}</string>
                <key>spriteSourceSize</key>
                <string>{80,182}</string>
                <key>textureRect</key>
                <string>{{76,633},{80,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_gold_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{2,88},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,64}</string>
                <key>spriteSourceSize</key>
                <string>{220,64}</string>
                <key>textureRect</key>
                <string>{{2,212},{220,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_btn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,72}</string>
                <key>spriteSourceSize</key>
                <string>{224,72}</string>
                <key>textureRect</key>
                <string>{{2,559},{224,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_btn_pre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,60}</string>
                <key>spriteSourceSize</key>
                <string>{172,60}</string>
                <key>textureRect</key>
                <string>{{54,88},{172,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,72}</string>
                <key>spriteSourceSize</key>
                <string>{225,72}</string>
                <key>textureRect</key>
                <string>{{2,485},{225,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_btn_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,60}</string>
                <key>spriteSourceSize</key>
                <string>{247,60}</string>
                <key>textureRect</key>
                <string>{{2,150},{247,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,67}</string>
                <key>spriteSourceSize</key>
                <string>{199,67}</string>
                <key>textureRect</key>
                <string>{{2,278},{199,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,67}</string>
                <key>spriteSourceSize</key>
                <string>{199,67}</string>
                <key>textureRect</key>
                <string>{{2,416},{199,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{251,832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eeec5dfe612a79e3134fe5b9107ee6c:ae2238efea238e406116caea9505c1b0:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
