<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank_effect_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{2,2},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{166,2},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{330,2},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{494,2},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{658,2},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{822,2},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{2,296},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{166,296},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{330,296},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{494,296},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{658,296},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{822,296},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{2,590},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{166,590},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{330,590},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{494,590},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{658,590},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{822,590},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{2,884},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{166,884},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_effect_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,292}</string>
                <key>spriteSourceSize</key>
                <string>{162,292}</string>
                <key>textureRect</key>
                <string>{{330,884},{162,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rankeffect.png</string>
            <key>size</key>
            <string>{986,1178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a465930c39c74cd14f8aec7836ca25e6:83721623f1350782afaefa39c524d75e:96fba303ed8e5f597e766794d370cb79$</string>
            <key>textureFileName</key>
            <string>rankeffect.png</string>
        </dict>
    </dict>
</plist>
