<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{30,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{30,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>numberCountDown.png</string>
            <key>size</key>
            <string>{305,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9facd27d423f5c10a9a5e59c92902582$</string>
            <key>textureFileName</key>
            <string>numberCountDown.png</string>
        </dict>
    </dict>
</plist>
