<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom_btn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,94}</string>
                <key>textureRect</key>
                <string>{{134,160},{104,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{58,62}</string>
                <key>textureRect</key>
                <string>{{810,96},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{86,94}</string>
                <key>textureRect</key>
                <string>{{434,160},{86,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,94}</string>
                <key>textureRect</key>
                <string>{{328,160},{104,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,94}</string>
                <key>textureRect</key>
                <string>{{522,160},{104,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{86,94}</string>
                <key>textureRect</key>
                <string>{{240,160},{86,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{58,62}</string>
                <key>textureRect</key>
                <string>{{694,96},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,120}</string>
                <key>spriteSourceSize</key>
                <string>{108,120}</string>
                <key>textureRect</key>
                <string>{{2,374},{108,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,116}</string>
                <key>textureRect</key>
                <string>{{830,256},{90,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_btn_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{722,256},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_sheet_gx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,20}</string>
                <key>spriteSourceSize</key>
                <string>{272,20}</string>
                <key>textureRect</key>
                <string>{{279,2},{272,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,54}</string>
                <key>spriteSourceSize</key>
                <string>{396,54}</string>
                <key>textureRect</key>
                <string>{{2,40},{396,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ewm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,176}</string>
                <key>spriteSourceSize</key>
                <string>{148,176}</string>
                <key>textureRect</key>
                <string>{{112,374},{148,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,420}</string>
                <key>spriteSourceSize</key>
                <string>{340,420}</string>
                <key>textureRect</key>
                <string>{{2,734},{340,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,58}</string>
                <key>spriteSourceSize</key>
                <string>{210,58}</string>
                <key>textureRect</key>
                <string>{{214,96},{210,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jrdsb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,58}</string>
                <key>spriteSourceSize</key>
                <string>{210,58}</string>
                <key>textureRect</key>
                <string>{{2,96},{210,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jrfhb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,58}</string>
                <key>spriteSourceSize</key>
                <string>{210,58}</string>
                <key>textureRect</key>
                <string>{{426,96},{210,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftPic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,654}</string>
                <key>spriteSourceSize</key>
                <string>{342,654}</string>
                <key>textureRect</key>
                <string>{{344,734},{342,654}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,36}</string>
                <key>spriteSourceSize</key>
                <string>{400,36}</string>
                <key>textureRect</key>
                <string>{{553,2},{400,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,96}</string>
                <key>spriteSourceSize</key>
                <string>{718,96}</string>
                <key>textureRect</key>
                <string>{{2,256},{718,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,358}</string>
                <key>spriteSourceSize</key>
                <string>{568,358}</string>
                <key>textureRect</key>
                <string>{{262,374},{568,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>save.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{130,70}</string>
                <key>textureRect</key>
                <string>{{2,160},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,2}</string>
                <key>spriteSourceSize</key>
                <string>{275,2}</string>
                <key>textureRect</key>
                <string>{{2,2},{275,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinxiao_bj_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,54}</string>
                <key>spriteSourceSize</key>
                <string>{396,54}</string>
                <key>textureRect</key>
                <string>{{400,40},{396,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinxiaoanniu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{54,60}</string>
                <key>textureRect</key>
                <string>{{638,96},{54,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinyueanniu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{754,96},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{955,1390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6258a9c8a2cae42fbc522cca853d4c9b:3cba1fbdd936b8cd877551063500f642:f1bafa2c26deda73cfe01e78b270c574$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
