<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IP.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,866},{350,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,66}}</string>
                <key>sourceSize</key>
                <string>{350,66}</string>
            </dict>
            <key>REDpanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,184},{156,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,326}}</string>
                <key>sourceSize</key>
                <string>{156,326}</string>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,252},{428,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{428,148}}</string>
                <key>sourceSize</key>
                <string>{428,152}</string>
            </dict>
            <key>bx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,248}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{600,248}}</string>
                <key>sourceSize</key>
                <string>{604,280}</string>
            </dict>
            <key>car.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,814},{382,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,50}}</string>
                <key>sourceSize</key>
                <string>{382,50}</string>
            </dict>
            <key>fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{174,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,304}}</string>
                <key>sourceSize</key>
                <string>{174,304}</string>
            </dict>
            <key>gold_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,688},{97,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{97,98}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>gxhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,934},{240,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,50}}</string>
                <key>sourceSize</key>
                <string>{240,50}</string>
            </dict>
            <key>gxzz.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{180,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,296}}</string>
                <key>sourceSize</key>
                <string>{180,296}</string>
            </dict>
            <key>hb.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,860},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>hb_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,853},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>hb_fort1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,688},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>hb_fort2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,770},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>hb_fort3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,606},{98,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,74}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>hb_fort4.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,787},{97,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,71}}</string>
                <key>sourceSize</key>
                <string>{97,71}</string>
            </dict>
            <key>hb_gxhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{308,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,506}}</string>
                <key>sourceSize</key>
                <string>{308,506}</string>
            </dict>
            <key>iwatch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{322,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,52}}</string>
                <key>sourceSize</key>
                <string>{322,52}</string>
            </dict>
            <key>ksbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,512},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>macbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,762},{384,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,50}}</string>
                <key>sourceSize</key>
                <string>{384,50}</string>
            </dict>
            <key>mrqd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,682},{382,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{382,78}}</string>
                <key>sourceSize</key>
                <string>{382,80}</string>
            </dict>
            <key>xczj.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,184},{420,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,108}}</string>
                <key>sourceSize</key>
                <string>{420,108}</string>
            </dict>
            <key>xyzp.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,252},{424,148}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{424,148}}</string>
                <key>sourceSize</key>
                <string>{428,152}</string>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,934},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity.png</string>
            <key>size</key>
            <string>{908,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e72b381dbc0bcfdce32a0df8ecada446$</string>
            <key>textureFileName</key>
            <string>activity.png</string>
        </dict>
    </dict>
</plist>
