<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,38}</string>
                <key>spriteSourceSize</key>
                <string>{182,38}</string>
                <key>textureRect</key>
                <string>{{2,340},{182,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,34}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{94,42},{90,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,38}</string>
                <key>spriteSourceSize</key>
                <string>{90,38}</string>
                <key>textureRect</key>
                <string>{{94,2},{90,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,34}</string>
                <key>spriteSourceSize</key>
                <string>{180,34}</string>
                <key>textureRect</key>
                <string>{{2,190},{180,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,36}</string>
                <key>spriteSourceSize</key>
                <string>{90,36}</string>
                <key>textureRect</key>
                <string>{{2,2},{90,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,34}</string>
                <key>spriteSourceSize</key>
                <string>{180,34}</string>
                <key>textureRect</key>
                <string>{{2,154},{180,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,36}</string>
                <key>spriteSourceSize</key>
                <string>{182,36}</string>
                <key>textureRect</key>
                <string>{{2,302},{182,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,34}</string>
                <key>spriteSourceSize</key>
                <string>{180,34}</string>
                <key>textureRect</key>
                <string>{{2,78},{180,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,38}</string>
                <key>spriteSourceSize</key>
                <string>{180,38}</string>
                <key>textureRect</key>
                <string>{{2,114},{180,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,38}</string>
                <key>spriteSourceSize</key>
                <string>{180,38}</string>
                <key>textureRect</key>
                <string>{{2,262},{180,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,34}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{2,42},{90,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,34}</string>
                <key>spriteSourceSize</key>
                <string>{180,34}</string>
                <key>textureRect</key>
                <string>{{2,226},{180,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{186,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e4bfd89893f7e7843575a2f42ede2c4:071e730e5bf2a11bb601fad7c6534696:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
