<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{263,34},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{229,34},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{297,34},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{353,2},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{2,2},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanT1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{44,34},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanT2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{115,34},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gengduoanniu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{36,2},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{267,2},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>he.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,32}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{149,34},{42,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,26}</string>
                <key>spriteSourceSize</key>
                <string>{40,26}</string>
                <key>textureRect</key>
                <string>{{225,2},{40,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{185,2},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{2,34},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{78,34},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{331,34},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_wkt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,220}</string>
                <key>spriteSourceSize</key>
                <string>{310,220}</string>
                <key>textureRect</key>
                <string>{{2,447},{310,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaHao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{193,34},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,21}</string>
                <key>spriteSourceSize</key>
                <string>{11,21}</string>
                <key>textureRect</key>
                <string>{{128,2},{11,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_mihuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{14,2},{20,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{2,80},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{450,80},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{447,34},{43,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,57}</string>
                <key>spriteSourceSize</key>
                <string>{46,57}</string>
                <key>textureRect</key>
                <string>{{2,190},{46,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{54,132},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_icon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,66}</string>
                <key>spriteSourceSize</key>
                <string>{37,66}</string>
                <key>textureRect</key>
                <string>{{108,190},{37,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_icon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{2,132},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftbar_icon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{56,65}</string>
                <key>textureRect</key>
                <string>{{50,190},{56,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftic1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{278,132},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{104,132},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftic3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{162,132},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftic4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{220,132},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftic5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{336,132},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftic6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{394,132},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leftpic_lu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,264}</string>
                <key>spriteSourceSize</key>
                <string>{210,264}</string>
                <key>textureRect</key>
                <string>{{2,669},{210,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,78}</string>
                <key>spriteSourceSize</key>
                <string>{294,78}</string>
                <key>textureRect</key>
                <string>{{147,190},{294,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{329,2},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notice_trumpet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{381,2},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuaxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{363,34},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shurukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,48}</string>
                <key>spriteSourceSize</key>
                <string>{400,48}</string>
                <key>textureRect</key>
                <string>{{48,80},{400,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,95}</string>
                <key>spriteSourceSize</key>
                <string>{20,95}</string>
                <key>textureRect</key>
                <string>{{443,190},{20,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{295,2},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{42,22}</string>
                <key>textureRect</key>
                <string>{{141,2},{42,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_jt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{90,2},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xialaanniu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{423,2},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiugai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{405,34},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuanzhongzhuangtai_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,18}</string>
                <key>textureRect</key>
                <string>{{58,2},{30,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,158}</string>
                <key>spriteSourceSize</key>
                <string>{370,158}</string>
                <key>textureRect</key>
                <string>{{2,287},{370,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>com.png</string>
            <key>size</key>
            <string>{494,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a5ee18047de90a0ddf331c5106dd673:bb37afcf725226504bc4e4ce26bf958c:e6e1d41be9e9ac21801dc528a8878294$</string>
            <key>textureFileName</key>
            <string>com.png</string>
        </dict>
    </dict>
</plist>
