<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bz_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,404},{100,66}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,78},{100,66}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{92,60}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,78},{92,60}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{112,72}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,73},{112,72}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,460},{138,86}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,66},{138,86}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,398},{158,98}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,60},{158,98}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,282},{176,106}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{176,106}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,282},{190,114}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,52},{190,114}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{204,122}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,48},{204,122}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{216,130}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,44},{216,130}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,144},{226,136}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,41},{226,136}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{234,140}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{234,140}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>bz_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,144}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{240,144}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shockWave.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84f482afa71f3f7d769b0ddfba54a1e0$</string>
            <key>textureFileName</key>
            <string>shockWave.png</string>
        </dict>
    </dict>
</plist>
