<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boxHuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{210,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,120}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>gd_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{632,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,22}}</string>
                <key>sourceSize</key>
                <string>{632,22}</string>
            </dict>
            <key>gd_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{786,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,98}}</string>
                <key>sourceSize</key>
                <string>{786,98}</string>
            </dict>
            <key>gd_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{48,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,450}}</string>
                <key>sourceSize</key>
                <string>{48,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>notice.png</string>
            <key>size</key>
            <string>{176,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6ded82b65108d28263483307936d21f$</string>
            <key>textureFileName</key>
            <string>notice.png</string>
        </dict>
    </dict>
</plist>
